    /***************** GENERAL AND UTILITY ***************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aquamarine;
}

.B{background-color: black;}
.G{background-color: grey;}

.col{flex-direction: column;}
.flex{display: flex;}
.JCSpB{justify-content: space-between;}
.JCFlexEnd{justify-content: flex-end;}
.alignFE{align-items: flex-end;}
.alignCen{align-items: center;}
.wrap{flex-wrap: wrap;}

.marR{margin-right: 1em;}

.pRel{position: relative;}

/**************** HEADER **************/
.bandH{
    width: 100%;
    height: 70px;
}

.headContainer{
    padding: 0.5em;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

/**************** MAIN *************/

.giga{
    height:calc(100vh - 150px);
}

.mega{
    height: 90.06%;
    width: 90.08%;
    margin: auto;
}

.card{
    background-color: red;
    width: calc(100%/7 - 5px);
    height: calc(100%/5 - 10px);
}

/*************** FOOTER ***************/
.bandF{height: 80px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #222;
    color: white;
}

footer i {
    font-size: 25px;
}

footer .col i {
    margin-bottom: 0.5em;
}